<template name="home">
    <div class="container">
        <header>
            <h1>DoSOCSv2-UI</h1>
        </header>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><h2 class="panel-title">DoSOCSv2 - Generate SPDX 2.0 Documents</h2></div>
            <div class="panel-body">
                <a href='#'>Manage your Package</a>
            </div>

            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item">
                    <label>Upload packages</label>
                    {{> upload_bootstrap }}
                </li>
            </ul>
        </div>



        <div class="panel">
            <h3>Uploaded Following Files</h3>
            <p>
                {{> uploadedInfo uploads }}
            </p>
        </div>
        <div class="container spdxDocContainer">
            {{spdxdoc}}
        </div>
    </div>
</template>
