<template name="uploadedInfo">
    <div class="documentList">
        <ul class="list-inline">
            {{#each this}}
                <li class="documentItem">
                    <a href="/upload/{{path}}"><img src="file_icon.png"></a><br/>
                    <label>{{ name }}</label> <br/>
                    {{ size }} <br>
                    {{#if _id}}
                        <a class="btn btn-danger deleteUpload">Delete</a>
                        <a class="btn btn-success SPDXGenerate">SPDX</a>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>
</template>
